/vendor
/node_modules
Homestead.yaml
.env
app/Contracts/TestContract.php
app/Facades/Test.php
app/Providers/TestServiceProvider.php
app/Services/Auth/Test.php
app/tml_service_ts3.class.php
/app/Http/Controllers/TestController.php
/app/Http/Controllers/Material/IndexController.php
/tests/BarTest.php
*.log
*/cache/*
public/assets/css
public/assets/js
public/build
.idea/
storage/
.project
.DS_Store
*.swp
*.swo
test.php
conf/*.ini
public/assets/lib/Angle3.0/vendor/umeditor/php/upload
public/assets/lib/umeditor/php/
